@import "tailwindcss";

* {
  cursor: url("../public/assets/cursor.svg") 37 37, auto;
}

body {
  font-family: "Chakra Petch";
}

.alert {
  top: 15%;
  right: 30px;
  animation: alert 0.5s cubic-bezier(0, 1.7, 0.58, 1);
}

.removeAlert {
  right: -400px;
  animation: removeAlert 0.8s cubic-bezier(0.41, -0.73, 0.17, 1.71);
}

@keyframes alert {
  0% {
    right: -400px;
  }
  100% {
    right: 30px;
  }
}

@keyframes removeAlert {
  0% {
    right: 30px;
  }
  100% {
    right: -400px;
  }
}
